@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&family=Sassy+Frass&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --fondo: #0A1130;
    --buttons1: #092FEB;
}
body{
    background-color: var(--fondo);
    font-family: 'roboto', Courier, monospace;
    color: #fff;
}
.container
{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 50px 0;
}
.header{
    background-image: url('/assets/tierra4.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo h2{
    font-size: 30px;
    font-weight: 700;
}
.nav-btn{
    font-size: 18px;
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 700;
}
.nav-btn{
    position: relative;
    display: inline-block;
}
.nav-btn::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    scale: 0;
    transition: scale 0.25s;
}
.nav-btn:hover::before{
    scale: 1;
 
}
.header-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:40px auto;
    width: 50%;
    height: 400px;
    border-radius:20px;
    overflow: hidden;
    background-color: #0a1130b9;
   
    
}
.header-box-titles{
    width:50%;
    padding: 20px;
    text-align: left;
}
.header-box-titles h2{
    font-size: 45px;
    margin: 10px 0;

}
.header-box-titles p{
    font-size: 14px;
    margin: 20px 0;
}
.box-btn{
    text-decoration: none;
    color: var(--buttons1);
    font-size: 25px;
}
.box-btn{
    position: relative;
    display: inline-block;
}
.box-btn::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    scale: 0;
    transition: scale 0.25s;
}
.box-btn:hover::before{
    scale: 1;
 
}
.header-box-img{
    width: 50%;
    height: 100%;
 
}
.box-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 20px 0;
    animation: astronauts 7s linear infinite ;
}
@keyframes astronauts {
    0%,100%{
        transform: translateY(-30px);

    }
    50%{
        transform: translateY(40px);
    }
    
}

/*Hitory section*/

.history-section{
    margin: 40px auto;
    border: 2px solid green;
}
.history-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 450px;
}
.history-titles{
    width: 60%;

}
.historys-image{
    width: 40%;
}
.history-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}